.benef-list {
  display: grid;
  gap: 32px;
}

.benefits {
  padding-top: 80px;
}

.text-green {
  color: var(--accent-text-color);
}

.bg-img-benef {
  display: none;
}

.svg {
  width: 48px;
  height: 48px;
  background-color: #bcdfd1;
  border-radius: 8px;
  display: flex;
}

.benef-icon {
  margin: auto auto;
}

.test {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.benef-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.benef-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-family: 'Poppins', sans-serif;
}

.benef-item {
  max-width: 320px;
}

.benef-item {
  margin: 0 auto;
}

.title-benef {
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Impact', sans-serif;
  margin-bottom: 40px;
}

.benef-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-align: start;
}

@media (max-width: 767px) {
  .benef-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .benefits {
    padding-top: 124px;
  }

  .title-benef {
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
    margin: 0;
  }

  .benef-subtitle {
    font-size: 20px;
    line-height: 160%;
  }

  .benef-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 32px;
  }

  .benef-item {
    max-width: 336px;
  }

  .benef-item:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .benef-item:nth-child(2),
  .benef-item:nth-child(3) {
    grid-column: span 1;
    grid-row: 2 / 3;
  }

  .benef-item:nth-child(2) {
    grid-column: 1 / 2;
  }

  .benef-item:nth-child(3) {
    grid-column: 2 / 3;
  }

  .benef-item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

@media (min-width: 1280px) {
  .container {
    position: relative;
  }

  .benefits {
    padding-top: 164px;
  }

  .title-benef {
    font-size: 107px;
    line-height: 115%;
    letter-spacing: 0.02em;
    max-width: 681px;
    position: absolute;
    top: 0;
  }

  .bg-img-benef {
    display: block;
    position: absolute;
    top: -116px;
    right: 0;
    max-width: 526px;
  }

  .benef-item {
    max-width: 384px;
  }

  .benef-list {
    padding-top: 276px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 32px;
  }

  .benef-item:nth-child(1) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .benef-item:nth-child(2),
  .benef-item:nth-child(3),
  .benef-item:nth-child(4) {
    grid-column: span 1;
    grid-row: 2 / 3;
  }
}