.reviews {
    padding-top: 80px;
}

.reviews-title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.03em;
    font-family: 'Impact', sans-serif;
}

.error {
    text-align: center;
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
}

.btn-prev {
    border: 1px solid var(--base-text-color);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.btn-prev-hidden {
    border: 1px solid var(--additional-bcg-color);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    fill: var(--additional-bcg-color);
}

.btn-next {
    border: 1px solid var(--base-text-color);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.btn-next-hidden {
    border: 1px solid var(--additional-bcg-color);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    fill: var(--additional-bcg-color);
}

.swiper-btn:hover:not(.swiper-button-disabled),
.swiper-btn:focus:not(.swiper-button-disabled) {
    background-color: var(--additional-bcg-color);
}

.review-p {
    font-family: 'Popins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--base-text-color);
}

@media (min-width: 768px) {
    .reviews-title {
        margin-bottom: 60px;
        font-size: 108px;
        line-height: 115%;
        letter-spacing: 0.02em;
    }

    .reviews {
        padding-top: 124px;
    }
}

.reviews-text {
    margin: 0 0 24px 0;
}

.reviews .swiper-wrapper {
    margin-bottom: 24px;
}

@media (min-width: 1280px) {
    .reviews-title {
        margin-bottom: 80px;
    }

    .reviews {
        padding-top: 164px;
    }
}

.reviews .swiper-slide {
    border-radius: 16px;
    padding: 32px;
    background: var(--additional-bcg-color);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.reviews-wrapper-img {
    border-radius: 24px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.reviews-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--base-text-color);
    font-weight: bold;
    text-transform: none;
}

.swiper-btn-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

@media (min-width: 1280px) {
    .swiper-btn-list {
        gap: 24px;
    }
}

.swiper-btn {
    border: 1px solid var(--base-text-color);
    fill: var(--base-text-color);
    padding: 7px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-button-disabled {
    cursor: auto;
    border-color: var(--additional-bcg-color);
    fill: var(--additional-bcg-color);
}