<section class="section-about" id="about">
  <div class="container about-container">
    <h2 class="about-title">ABOUT <span class="span-me">ME</span></h2>
    <div class="wrapp-bio">
      <img
        srcset="./img/imgs-about-me/s3.jpg 1x, ./img/imgs-about-me/s3@2x.jpg 2x"
        src="./img/imgs-about-me/s3.jpg"
        alt="about me"
        class="img-about"
      />

      <div class="wrapp-bio-text">
        <h3 class="title-about">BIO</h3>
        <p class="text-about">
          I have sound knowledge of HTML, CSS, JavaScript, and React. Also, I
          have hands-on experience in following Agile /Scrum methodology when
          working in a team.
        </p>
        <p class="text-about">
          I am a fast learner, responsible, and ready for challenging tasks. I
          am inspired to work on new projects and gain experience. In my free
          time I like to dance and paint. I am a creative person and always have
          a positive attitude towards new tasks.
        </p>
        <div class="wrapp-bg"><div class="bg-img"></div></div>
      </div>
    </div>
    <div class="wrapp-about-text">
      <div class="wrapp-education">
        <h3 class="title-about">EDUCATION</h3>
        <ul class="education-list">
          <li class="education-item">
            <p class="text-about">
              2022 - Present / Frontend Development, University Merito WSB,
              Gdansk
            </p>
          </li>
          <li class="education-item">
            <p class="text-about">
              2023 - 2025 / Frontend Development, GoIT IT School, Ukraine
            </p>
          </li>
        </ul>
      </div>
      <div class="wrapp-role">
        <h3 class="title-about">TECH SKILLS</h3>
        <ul class="role-list">
          <li class="role-item">
            <p class="text-about">
              <span class="green-text">Frontend Technologies:</span>
              HTML, CSS, JavaScript, TypeScript, React (Hooks, Context, Routers,
              Redux, Redux Toolkit), npm libraries
            </p>
          </li>
          <li class="role-item">
            <p class="text-about">
              <span class="green-text">Tools:</span> Git, Vite, REST API, Vercel
            </p>
          </li>
          <li class="role-item">
            <p class="text-about">
              <span class="green-text">Methodologies:</span> Responsive/Adaptive
              Design, Agile/Scrum
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
