<section class="benefits">
  <div class="container container-benef">
    <div class="bg-img-benef">
      <img
        srcset="
          ./img/bg-img/bg-desk-benefits.png    1x,
          ./img/bg-img/bg-desk-benefits@2x.png 2x
        "
        src="./img/bg-img/bg-desk-benefits.png"
        alt="backgroun-img"
      />
    </div>
    <h2 class="title-benef">
      <span class="text-green">Benefits</span> of working with me
    </h2>
    <ul class="benef-list">
      <li class="benef-item benef-right">
        <div class="test">
          <div class="svg">
            <svg class="benef-icon" width="24" height="24">
              <use href="./img/svg-icons/symbol-defs.svg#icon-user-1"></use>
            </svg>
          </div>
          <h3 class="benef-subtitle">Expertise</h3>
          <p class="benef-text">
            With extensive experience in development, I have a deep
            understanding of programming and website development.
          </p>
        </div>
      </li>

      <li class="benef-item benef-inline">
        <div class="test">
          <div class="svg">
            <svg class="benef-icon" width="24" height="24">
              <use
                href="./img/svg-icons/symbol-defs.svg#icon-message-chat-circle-1"
              ></use>
            </svg>
          </div>
          <h3 class="benef-subtitle">Communication</h3>
          <p class="benef-text">
            Understanding your needs and wants is my priority and I am always
            available for discussions and open to corrections.
          </p>
        </div>
      </li>
      <li class="benef-item benef-inline">
        <div class="test">
          <div class="svg">
            <svg class="benef-icon" width="24" height="24">
              <use href="./img/svg-icons/symbol-defs.svg#icon-brush-1"></use>
            </svg>
          </div>
          <h3 class="benef-subtitle">Art</h3>
          <p class="benef-text">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </div>
      </li>
      <li class="benef-item benef-left">
        <div class="test">
          <div class="svg">
            <svg class="benef-icon" width="24" height="24">
              <use
                href="./img/svg-icons/symbol-defs.svg#icon-hourglass-1"
              ></use>
            </svg>
          </div>
          <h3 class="benef-subtitle">Urgent execution</h3>
          <p class="benef-text">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
