<footer class="footer">
  <div class="container container-footer">
    <div class="wrapp-logo">
      <a href="#" class="logo"
        >Lloyd<span class="logo-header-span">Jefferson.</span></a
      >
      <ul class="footer-list">
        <li class="footer-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="hover-link"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li class="footer-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="hover-link"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li class="footer-item">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            class="hover-link"
            >Linkedin</a
          >
        </li>
        <li class="footer-item">
          <a
            href="https://github.com/1ster14ka/js-avengers"
            class="hover-link"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-copyright">
      <p class="copyright">© Copyright 2024. Made by LloydJefferson</p>
    </div>
  </div>
</footer>
