<header class="header">
  <div class="container header-container">
    <a href="" class="logo"
      >Lloyd<span class="logo-header-span">Jefferson.</span></a
    >

    <div class="switch-container">
      <label id="switch" class="switch">
        <input type="checkbox" id="slider" />
        <span class="slider round overlay"></span>
      </label>
    </div>

    <nav class="navigation">
      <ul class="nav-list-head">
        <li class="nav-item-head">
          <a href="#about" class="hover-link">About me</a>
        </li>
        <li class="nav-item-head">
          <a href="#projects" class="hover-link">Projects</a>
        </li>
        <li class="nav-item-head">
          <a href="#contacts" class="hover-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="burger-btn">
      <svg class="icon-burger" width="22" height="16">
        <use href="./img/svg-icons/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
