<section class="section-projects" id="projects">
  <div class="container">
    <h2 class="catalog-title">my <span>projects</span></h2>
    <ul class="project-catalog">
      <li class="project-card">
        <img
          class="project-photo"
          srcset="
            ./img/imgs-my-projects/s5-img1.jpg    1x,
            ./img/imgs-my-projects/s5-img1@2x.jpg 2x
          "
          src="./img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="technologies">React, JavaScript, Node JS, Git</p>
        <div class="project">
          <h3 class="project-name">wallet webservice</h3>
          <a
            class="project-link"
            href="https://github.com/1ster14ka/js-avengers"
            target="_blank"
            >visit
            <svg>
              <use
                href="./img/svg-icons/symbol-defs.svg#icon-icon-arrow-1"
              ></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="project-card">
        <img
          class="project-photo"
          srcset="
            ./img/imgs-my-projects/s5-img2.jpg    1x,
            ./img/imgs-my-projects/s5-img2@2x.jpg 2x
          "
          src="./img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="technologies">React, JavaScript, Node JS, Git</p>
        <div class="project">
          <h3 class="project-name">green harvest online store</h3>
          <a
            class="project-link"
            href="https://github.com/1ster14ka/js-avengers"
            target="_blank"
            >visit
            <svg>
              <use
                href="./img/svg-icons/symbol-defs.svg#icon-icon-arrow-1"
              ></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="project-card">
        <img
          class="project-photo"
          srcset="
            ./img/imgs-my-projects/s5-img3.jpg    1x,
            ./img/imgs-my-projects/s5-img3@2x.jpg 2x
          "
          src="./img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="technologies">React, JavaScript, Node JS, Git</p>
        <div class="project">
          <h3 class="project-name">English excellence webservice</h3>
          <a
            class="project-link"
            href="https://github.com/1ster14ka/js-avengers"
            target="_blank"
            >visit
            <svg>
              <use
                href="./img/svg-icons/symbol-defs.svg#icon-icon-arrow-1"
              ></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="project-card">
        <img
          class="project-photo"
          srcset="
            ./img/imgs-my-projects/s5-img4.jpg    1x,
            ./img/imgs-my-projects/s5-img4@2x.jpg 2x
          "
          src="./img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="technologies">React, JavaScript, Node JS, Git</p>
        <div class="project">
          <h3 class="project-name">power pulse webservice</h3>
          <a
            class="project-link"
            href="https://github.com/1ster14ka/js-avengers"
            target="_blank"
            >visit
            <svg>
              <use
                href="./img/svg-icons/symbol-defs.svg#icon-icon-arrow-1"
              ></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="project-card">
        <img
          class="project-photo"
          srcset="
            ./img/imgs-my-projects/s5-img5.jpg    1x,
            ./img/imgs-my-projects/s5-img5@2x.jpg 2x
          "
          src="./img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="technologies">React, JavaScript, Node JS, Git</p>
        <div class="project">
          <h3 class="project-name">mimino website</h3>
          <a
            class="project-link"
            href="https://github.com/1ster14ka/js-avengers"
            target="_blank"
            >visit
            <svg>
              <use
                href="./img/svg-icons/symbol-defs.svg#icon-icon-arrow-1"
              ></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="project-card">
        <img
          class="project-photo"
          srcset="
            ./img/imgs-my-projects/s5-img6.jpg    1x,
            ./img/imgs-my-projects/s5-img6@2x.jpg 2x
          "
          src="./img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="technologies">React, JavaScript, Node JS, Git</p>
        <div class="project">
          <h3 class="project-name">vyshyvanka vibes Landing Page</h3>
          <a
            class="project-link"
            href="https://github.com/1ster14ka/js-avengers"
            target="_blank"
            >visit
            <svg>
              <use
                href="./img/svg-icons/symbol-defs.svg#icon-icon-arrow-1"
              ></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="project-card">
        <img
          class="project-photo"
          srcset="
            ./img/imgs-my-projects/s5-img7.jpg    1x,
            ./img/imgs-my-projects/s5-img7@2x.jpg 2x
          "
          src="./img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="technologies">React, JavaScript, Node JS, Git</p>
        <div class="project">
          <h3 class="project-name">chego jewelry website</h3>
          <a
            class="project-link"
            href="https://github.com/1ster14ka/js-avengers"
            target="_blank"
            >visit
            <svg>
              <use
                href="./img/svg-icons/symbol-defs.svg#icon-icon-arrow-1"
              ></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="project-card">
        <img
          class="project-photo"
          srcset="
            ./img/imgs-my-projects/s5-img8.jpg    1x,
            ./img/imgs-my-projects/s5-img8@2x.jpg 2x
          "
          src="./img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="technologies">React, JavaScript, Node JS, Git</p>
        <div class="project">
          <h3 class="project-name">energy flow webservice</h3>
          <a
            class="project-link"
            href="https://github.com/1ster14ka/js-avengers"
            target="_blank"
            >visit
            <svg>
              <use
                href="./img/svg-icons/symbol-defs.svg#icon-icon-arrow-1"
              ></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="project-card">
        <img
          class="project-photo"
          srcset="
            ./img/imgs-my-projects/s5-img9.jpg    1x,
            ./img/imgs-my-projects/s5-img9@2x.jpg 2x
          "
          src="./img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="technologies">React, JavaScript, Node JS, Git</p>
        <div class="project">
          <h3 class="project-name">fruitbox online store</h3>
          <a
            class="project-link"
            href="https://github.com/1ster14ka/js-avengers"
            target="_blank"
            >visit
            <svg>
              <use
                href="./img/svg-icons/symbol-defs.svg#icon-icon-arrow-1"
              ></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="project-card">
        <img
          class="project-photo"
          srcset="
            ./img/imgs-my-projects/s5-img10.jpg    1x,
            ./img/imgs-my-projects/s5-img10@2x.jpg 2x
          "
          src="./img/imgs-my-projects/s5-img1.jpg"
          alt=""
        />
        <p class="technologies">React, JavaScript, Node JS, Git</p>
        <div class="project">
          <h3 class="project-name">starlight studio landing page</h3>
          <a
            class="project-link"
            href="https://github.com/1ster14ka/js-avengers"
            target="_blank"
            >visit
            <svg>
              <use
                href="./img/svg-icons/symbol-defs.svg#icon-icon-arrow-1"
              ></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <div class="btn-container">
      <button class="js-load-more">LOAD MORE</button>
      <button class="js-show-less">SHOW LESS</button>
    </div>
  </div>
</section>

<script type="module" src="./js/my-projects.js"></script>
