<section class="tech-skills">
  <div class="container-fluid">
    <div class="skills__container">
      <h2 class="visually-hidden">Tech skills</h2>

      <div class="skills__line skills__line-top">
        <div class="skills__content" id="top-skills">
          <ul class="skills__inner">
            <li class="skills__item">HTML/CSS</li>
            <li class="skills__item">JAVASCRIPT</li>
            <li class="skills__item">REACT</li>
            <li class="skills__item">NODE.JS</li>
            <li class="skills__item">REACT NATIVE</li>
            <li class="skills__item">TYPESCRIPT</li>
          </ul>
        </div>
      </div>

      <div class="skills__line skills__line-bottom">
        <div class="skills__content" id="bottom-skills">
          <ul class="skills__inner">
            <li class="skills__item">HTML/CSS</li>
            <li class="skills__item">JAVASCRIPT</li>
            <li class="skills__item">REACT</li>
            <li class="skills__item">NODE.JS</li>
            <li class="skills__item">REACT NATIVE</li>
            <li class="skills__item">TYPESCRIPT</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
