:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v29-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v29-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v29-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-v21-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

a:hover {
  color: var(--hover-element-color);
}

.visually-title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.theme-light {
  --base-text-color: #292929;
  --accent-text-color: #00b068;
  --base-bcg-color: #f0f0f0;
  --additional-bcg-color: #e4e5e6;
  --accent-element-color: #bcdfd1;
  --hover-element-color: #009156;
  --error-color: #e74a3b;
  --hover-bcg-color: #bbbbbb;
}

.theme-dark {
  --base-text-color: #f0f0f0;
  --accent-text-color: #14c57c;
  --base-bcg-color: #1e2023;
  --additional-bcg-color: #2a2d32;
  --accent-element-color: #204136;
  --hover-element-color: #009156;
  --error-color: #e74a3b;
  --hover-bcg-color: #3b3f45;
}